/* Agregando linea para Barra de Navegacion */
.aparece{
    display: block;
}

.nav_option{
    text-decoration: none;
    color: var(--variant-black);
    font-size: 2rem;
    font-family: 'Montserrat';
    margin: 0 20px 0 100px;
    transition: .3s ease-in all;
}

body.dark .nav_option{
    color: var(--variant-white);
}

.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-container nav a:hover,
.header-container nav a:focus
{
    border-bottom: var(--variant-black) dotted 1px;
}

body.dark .header-container nav a:hover,
body.dark .header-container nav a:focus
{
    border-bottom: var(--variant-light-gray) dotted 1px;
}
/* Agregando linea para Barra de Navegacion */

/* ---------------------------------------------------*/

/* Seccion 1 - Sobre mi */

.section1{
    display: flex;
}
.section1-container{
    width: 50%;
    margin-top: 50px;
}

.section1-social{
    margin-top: 50px;
}

/* Seccion 1 - Sobre mi */

/* ---------------------------------------------------*/

/* Seccion 2 - Proyectos */
/* Seccion 2 - Proyectos */

/* ---------------------------------------------------*/

.section3-container--txt{
    clear: both;
}
