:root{
    --variant-black: #0e0e0e;
    --variant-green: #0E9C2D;
    --variant-pink: #FA9FA9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

