:root{
    --variant-black: #0e0e0e;
    --variant-green: #0E9C2D;
    --variant-pink: #FA9FA9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    color: black;
    background: linear-gradient( #47597E , #DBE6FD);
}

/* --------------------------------------------------------------------------*/

.header{
    display: flex;
    justify-content: space-between;
    min-width: 430px;
    height: 73px;
    border-bottom: rgba(0, 0, 0, 0.3) 1px solid;
}

.header-container{
    padding-top: 10px;
    padding-left: 5px;
}

.header-container--logo{
    margin-left: 35px;
    width: 32px;
    height: 50px;
    background-image: url(../assets/icons/TroopyUx-NuevoLogoSVG.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container--title{
    margin-left: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 1.6rem;
    line-height: 20px;
    letter-spacing: 0.4em;
    display: none;
}

.header-theme{
    /* margin: 22px 22px 19px 0;
    width: 32px;
    height: 32px;
    background-image: url(../assets/icons/Menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer; */
    display: flex;
    align-items: center;
}

.box{
    width: 70px;
    height: 30px;
    border-radius: 15px;
    background-color: #0e0e0e;
    cursor: pointer;
}

.box-text{
    width: 40px;
    position: relative;
    left: 11px;
    top: 8px;
    font-family: 'Montserrat';
    font-size: 1rem;
    color: white;
}

.circle{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    position: relative;
    right: 30px;
}

/* --------------------------------------------------------------------------*/

.section1{
    min-width: 430px;
    height: 720px;
    padding: 100px 0;
}

.section1-container{
    position: relative;
    width: auto;
    height: 295px;
}

.section1-container-title{
    position: absolute;
    left: calc(50% - 120px);
    top: 35px;
    width: 261px;
    height: 131px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 59px;
    text-align: center;
}

.section1-container-descrip1{
    position: absolute;
    top: 190px;
    left: calc(50% - 60px);
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 1.2rem;
    line-height: 20px;
}

.section1-container-descrip2{
    position: absolute;
    top: 210px;
    left: calc(50% - 100px);
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 1.2rem;
    line-height: 20px;
}

.section1-social{
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social{
    width: 64px;
    height: 64px;
    margin: 0 24px;
}

.linkedin{
    width: 64px;
    height: 64px;
    background-image: url(../assets/icons/linkedin.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.youtube{
    width: 64px;
    height: 64px;
    background-image: url(../assets/icons/youtube.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.x{
    width: 64px;
    height: 64px;
    background-image: url(../assets/icons/X.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.github{
    width: 64px;
    height: 64px;
    background-image: url(../assets/icons/github.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.outlook{
    width: 64px;
    height: 64px;
    background-image: url(../assets/icons/outlook.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.instagram{
    width: 64px;
    height: 64px;
    background-image: url(../assets/icons/instagram.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* --------------------------------------------------------------------------*/

.section2{
    min-width: 430px;
    height: 500px;
    padding-top: 30px;
}

.section2-header{
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 150px;
    position: relative;
    left: 35px;
    background: #F5E8DD;
    border-radius: 15px;
    box-shadow: 0px 7px 11px gray;
}

.section2-header--icon{
    width: 48px;
    height: 48px;
    background-image: url(../assets/icons/Vector.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.section2-header--tittle{
    margin: 15px 0 0 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 2.4rem;
    line-height: 20px;
}

.section2-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}

.arrowl{
    width: 40px;
    height: 15px;
    background-image: url(../assets/icons/arrowl.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.section2-container--box{
    width: 250px;
    height: 250px;
    background-color: transparent;
    border: #0E0E0E solid 1px;
}

.arrowr{
    width: 40px;
    height: 15px;
    rotate: 180deg;
    background-image: url(../assets/icons/arrowl.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

/* --------------------------------------------------------------------------*/

.section3{
    min-width: 430px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3-header{
    display: flex;
    justify-content: center;
    position: relative;
    left: -90px;
    margin-top: 30px;
    padding: 10px;
    background-color: #F5E8DD;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    box-shadow: 0px 7px 11px gray;
}

.section3-header--icon{
    width: 48px;
    height: 48px;
    background-image: url(../assets/icons/Perfil.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.section3-header--tittle{
    margin: 15px 0 0 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 2.4rem;
    line-height: 20px;
}

.section3-container{
    width: 360px;
    height: 270px;
    margin: 35px 0 0 0;
    position: relative;
    left: -8px;
}

.section3-container--txt{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 1.5rem;
    background-color: #F5E8DD;
    padding: 9px;
    border-radius: 15px;
    box-shadow: 0px 7px 11px gray;
}

.section3-image{
    margin: 35px 0 0 0;
    width: 300px;
    height: 300px;
    background-image: url(../assets/img/foto_perfil.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;border-radius: 25px;
    box-shadow: 0px 4px 7px 4px gray;
}

/* --------------------------------------------------------------------------*/

footer{
    min-width: 430px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: rgba(0, 0, 0, 0.3) 1px solid;
}

.footer-social{
    display: flex;
}

.social-ig{
    width: 32px;
    height: 32px;
    margin: 0 5px 0 10px;
    background-image: url(../assets/icons/footer-instagram.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-gh{
    width: 32px;
    height: 32px;
    margin: 0 10px 0 10px;
    background-image: url(../assets/icons/footer-github.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-yt{
    width: 32px;
    height: 32px;
    margin: 0 10px 0 10px;
    background-image: url(../assets/icons/footer-youtube.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-lk{
    width: 32px;
    height: 32px;
    margin: 0 10px 0 10px;
    background-image: url(../assets/icons/footer-linkedin.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-copy{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 1.6rem;
}